<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c8ea6032-9079-4bd8-aeb1-ee6d4dc9eb6a/resourceGroups/PS_Food_DeliveryRG/providers/Microsoft.Web/sites/PSFoodDeliveryBackend</ResourceId>
    <ResourceGroup>PS_Food_DeliveryRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://psfooddeliverybackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>121804ce-613c-4752-a080-a646066b2431</ProjectGuid>
    <MSDeployServiceURL>psfooddeliverybackend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PSFoodDeliveryBackend</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$PSFoodDeliveryBackend</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAC6pvyj88vkKKKf8WN+vm2gAAAAACAAAAAAAQZgAAAAEAACAAAABtwMjUdOiVjp1Wcusd0IpSB/IfBPsk4rZfFKSM3qr8pAAAAAAOgAAAAAIAACAAAAA528oFxw8VjKWZmUHaRl90/UacBoNvSjvD0ajvCftLr4AAAAAYdMCheKaQaCemO9FlFdTiqt8cuObMdGeLniIgvRW1d+bKrNaADkBcC85g+nAlKFsDP+23uJYdahHPkZKImaUnu9DiNbqBi1EVj+QaklItzsrZANRaVjtr0ceyf3BothNMV4Jbt5CQYIt9+zYlgOhwEPT5U5vHclHtEstp/t7onEAAAABuyWMUhVmRA9vh9RcquFRRrvHZnh7m0lpyaOHa5IDHQ6iPHI03wx4LWD7efHBIkLFnyCWButzz2mWNidu0xY0J</EncryptedPassword>
    <IsBasicAuthAllowed>True</IsBasicAuthAllowed>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>